<div class="col-xs-{{col}}" ng-form="interno">
    <div class="form-group" ng-class="{'has-error' : !interno.entrada.$valid}"  >
        <div class="radio radio-primary">
            <label>
                <input type="radio" name="entrada" value="{{contenido}}" checked=""
                       ng-model="valor" ng-readonly="readonly" ng-required="required">
                {{titulo}}
            </label>
        </div>
        <span class="help-block col-xs-12" ng-show="interno.entrada.$touched">
            <small class="help-block" ng-show="interno.entrada.$error.required">Este campo es requerido</small>
        </span>
    </div>
</div>
