<div class="col-xs-{{col}}" ng-form="interno">
    <div>
        <div class="form-group" ng-class="{'has-error' : !interno['f_' + nombre].$valid}"  >
            <label class="control-label">{{titulo}}</label>
            <input type="text" class="form-control" placeholder="{{titulo}}" name="f_{{nombre}}"
                   ng-readonly="readonly" ng-required="required" ng-model="valor">
            <span class="help-block col-xs-12" ng-show="interno['f_' + nombre].$touched">
                <small class="help-block" ng-show="interno['f_' + nombre].$error.required">Este campo es requerido</small>
            </span>
        </div>
    </div>
</div>