<style type="text/css" scoped>
    .select2-container {
        width: 100% !important;
    }
</style>
<div class="col-xs-{{col}}">
    <div class="form-group" ng-form="interno">
        <label class="control-label">{{titulo}}</label>
        <select class="select form-control" name="f_{{nombre}}" ng-required="{{required}}"
                ng-model="valor" ng-readonly="{{readonly}}">
            <option value="">Seleccione un elemento</option>
            <option ng-repeat="resrev in datos" value="{{resrev[value]}}">{{resrev[label]}}</option>
        </select>
        <span class="help-block col-xs-12" ng-show="interno['f_' + nombre].$touched">
            <small class="help-block" ng-show="interno['f_' + nombre].$error.required">Este campo es requerido</small>
        </span>
    </div>
</div>
